<p>
    Title: <%=@income.title %>
</p>
<p>
    Amount: <%=@income.amount %>
</p>
<p>
    Category: <%=@income.category %>
</p>
<p>
    Description: <%=@income.description %>
</p>
<p>
    Date: <%=@income.date %>
</p>